{
    "azure": {
        "account": "azure_account",
        "storage_access_key": "c3RvcmFnZV9hY2Nlc3Nfa2V5",
        "container": "images"
    },
    "database": {
        "host": "localhost",
        "port": 6379,
        "database": "mydatabase",
        "user": "local",
        "password": "local"
    }
}
